html,
body {
  font: 'Roboto';
  background-color: #003f5c;
  color: #ffffff;
  overflow-x: hidden;
}

a {
  color: #ffffff;
}

.container {
  max-width: 700px;
  margin: 0 auto;
}
.tall {
  position: relative;
  margin: 0 auto;
}

.tall-mobile {
  display: none;
}

.tall img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
}

.spread-text {
  height: 100%;
  width: 100%;
  top: 80;
  left: 350;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.spread-text p {
  font-size: 18px;
  max-width: 600px;
  margin: 0 auto;
  background: rgba(204, 204, 204, 0.7);
  color: #333333;
  width: 30%;
  padding: 20px;
}

.spread-text p:first-child {
  font-size: 75px;
  background: rgba(0, 63, 92, 0.3);
  font-weight: bold;
  max-width: 620px;
  padding: 10px;
  width: 35%;
  color: #ffffff;
  text-align: center;
}

/* .title {
  text-align: center !important;
  justify-content: center;
  position: absolute;
  left: 18%;
  right: 18%;
  margin-bottom: auto;
  top: 3%;
  color: #333333;
  font-size: 40px;
  font-weight: bold;
  background: #ffffff
} */

.byline {
  text-align: center !important;
  justify-content: center;
  position: absolute;
  /* display: flex; */
  /* margin-left: auto;
  margin-right: auto; */
  left: 18%;
  right: 18%;
  margin-bottom: auto;
  top: 4%;
  color: #333333;
  font-size: 20px;
  background: #ffffff;
}

.caption {
  font-size: 11px;
}

.hidden {
  visibility: hidden;
}

/* When it's less than 500 pixels wide */

@media only screen and (max-width: 540px) and (min-width: 300px) {
  .title {
    text-align: center !important;
    justify-content: center;
    position: absolute;
    color: #ffffff;
    font-size: 28px;
    font-weight: bold;
    background: #003f5c;
  }

  .tall-mobile .title {
    top: -100;
    left: 0%;
    padding: 10px;
  }

  .tall-mobile .byline {
    top: 550;
    left: 23%;
  }

  .tall-mobile {
    position: relative;
    display: block;
    margin: 0 auto;
  }

  .tall {
    display: none;
  }

  .tall-mobile img {
    margin: 0 auto;
    display: block;
    max-width: 100%;
    margin-top: 150px;
  }
  html,
  body {
    overflow-x: hidden;
  }
}
